#pesel {
    width: 15em;
}
#plec {
    width: 15em;
}
#miejsce_zamieszkania {
    width: 15em;
}
#wojewodztwo {
    width: 15em;
}
#recznosc {
    width: 15em;
}
#porody {
    width: 15em;
}
#wyksztalcenie {
    width: 15em;
}
#stan_rodzinny {
    width: 15em;
}
#zatrudnienie {
    width: 15em;
}
#praca_dochod {
    width: 15em;
}
